@page "/{objectType}/{id}"
@model Kymeta.Cloud.Services.EnterpriseBroker.Pages.DetailModel
@{
}

<div class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div>
                        <h4 title="Transaction Id" class="heading">@Model.SalesforceActionTransaction?.Id</h4>
                        <h1 class="title">@Model.SalesforceActionTransaction?.Object?.ToString() @Model.SalesforceActionTransaction?.Object?.ToString()</h1>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-info">Retry</button>
                </div>
            </div>
        </div>
        <p>Initiated <strong>@Model.SalesforceActionTransaction?.CreatedOn.ToString("G")</strong> on object <strong>@Model.SalesforceActionTransaction?.ObjectId</strong> by <strong>@Model.SalesforceActionTransaction?.UserName</strong>.</p>
    </div>
</div>
<div class="section">
    <div class="container">
        <h3 class="is-size-3 mb-3">Activity</h3>
        @if (Model.SalesforceActionTransaction?.TransactionLog != null)
        {
            <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th style="width: 200px">Timestamp (UTC)</th>
                    <th style="width: 250px">Action</th>
                    <th style="width: 150px">Status</th>
                    <th>Error Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var txn in Model.SalesforceActionTransaction.TransactionLog.OrderByDescending(ar => ar.Timestamp))
                {
                    <tr>
                        <td>@txn.Timestamp.GetValueOrDefault().ToString("G")</td>
                        <td>@txn.Action.ToString()</td>
                        <td>@txn.Status.ToString()</td>
                        <td>@txn.ErrorMessage</td>
                    </tr>
                }
            </tbody>
        </table>
        } else
        {
            <p>No actions to show here.</p>
        }
    </div>
</div>